<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY_MVVM框架测试</title>
  <link rel="stylesheet" href="./css/index.css">
  <!-- <script src="./js/vue.js"></script> -->
</head>
<body>
  <div id="app">
    <h2>{{ title }}</h2>
    <p>{{ desc }}</p>
    <span>{{ desc }} number：{{ info.num }}</span>
    <br><br>
    <label for="inputBox">
      <input id="inputBox" type="text" v-model="inputVal">
      {{ inputVal }}
    </label>
    <br><br>
    <ul>
      <li
        v-for="(item,index) in books"
      >
        <span>{{ index }}</span> — <span>title：{{ item.name }}</span> &nbsp;|&nbsp; <span>from：{{ item.where }}</span>
      </li> 
    </ul>
  </div>

  <script type="module">
    import Vue from '../core/index.js';

    window.vm = new Vue({
      el: '#app',
      data: {
        title: 'This is a simple title',
        desc: 'description for this page',
        info: {
          num: 666,
          content: 'aaa',
          extra: {
            xx: 'xxx',
            hh: 'hhh'
          }
        },
        books: [
          {
            name: '你不知道的JS',
            where: 'US',
          },
          {
            name: '富爸爸 穷爸爸',
            where: 'US',
          }, 
          {
            name: '向上生长',
            where: 'CN',
          }
        ],
        inputVal: 'text'
      }
    });
  </script>
</body>
</html>