#app {
  text-align: center;
}
.press {
  color: #f40;
  font-weight: bold;
}
.light {
  color: #000;
  font-weight: normal;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.weight {
  font-weight: bold;
}
.squre {
  width: 60px;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  user-select: none;
  margin: 15px auto;
}